$col1: #e0d4ce;
$col2: #21498a;

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');



* {
    font-size: 64px;
    font-family: 'Fredoka One', cursive;
    margin-left: 32px;
}
body {
    background: $col1;
}

.logo {
    text-align: left;
    width: 400px;
    background: $col2;

    color: $col1;
    h1 {
        font-size: .5em;
    }
}


.outline-txt {
    -webkit-text-stroke: 1px $col2;
    -webkit-text-fill-color: $col1;
    font-size: .75em;


}
.links {
    display: flex;
    justify-content: left;
    flex-direction: column;


    .link-to {
        cursor: pointer;
        margin-top: 32px;
        width: 600px;
        background: $col1;
        border-style: none;
        color: $col2;
        text-align: left;

        a {
            font-size: 48px;
            text-decoration: none;
            color: $col2;
        }
        transition: .5s;
    }
    .link-to:hover {
        background: $col2;
        color: $col1;
    }
}

.links-wrapper {
    display: flex;
}